@import 'normalize';

.chartHTML div {
  font: 10px sans-serif;
  background-color: blue;
  text-align: center;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chartSVG rect {
  fill: blue;
}

.chartSVG rect:hover {
  fill: red;
}

.chartSVG text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}